<% provide(:title,'About Us')%>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title)%></title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
    About
      This is the home page for the hello
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>